.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #f7d7d7;
}

.svg path{
    fill: transparent;
    stroke: #ffff;
    stroke-width: 1;
    stroke-dasharray: 25;
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715), 
  fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;

}

svg:hover path{
    stroke-dashoffset: 50;
    /* fill: #ffff; */
}

/* @keyframes text{
    0%{
        stroke-dashoffset: 50;
    }
    100%{
        stroke-dashoffset: 0;
    }
} */